<!doctype html>
<html lang="en">
  <head>
			<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		


  </head>

<body>
    
   
    <form action="." method="POST">
        
        <center><img width="95%" src="https://img15.hostingpics.net/pics/662165logointerface.png" ></center>
		<!--<input type="text" name="text">  -->
       
		</br></br>


  
	
	 
<center><div class="rectangle" style="padding:10px; background-color:rgba(236, 240, 241,0.4); border:5px solid #3498db; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px">

 <div align="center">
    </br>
    
    <div class="container">
  	<img src="https://img15.hostingpics.net/pics/837322aide.png" alt="Avatar" class="image">
  	<div class="overlay">
    <div class="text">Choisissez le type de photo de gouttes que vous voulez :</br>juste avant la chute, au contact de l'eau, ou même l'éclaboussure</br> en jouant avec le temps ci dessous puis cliquez sur</br>l'appareil photo  pour prendre la photo ! </div>
  	
  	</div>
	</div>
	</br>
    <label size="50" for="user_lic">Temps goutte : </label><input  id="user_lic" name="valeur"  type="number" min="0.05" max="10" step="0.05" value ="0.20"/>
    </div> 

    	</br></br>

    <center><button class="image_bouton" type="submit"></button></center>
    </br>

</div></center>
	
	</form>

	
</body>
</html>